*
!.ackrc
!.bashrc
!.ctags
!.gitignore
!.gitmodules
!.gvimrc
!.inputrc
!.profile
!.scripts
!.scripts/rake-complete.rb
!.vim
!.vim/autoload
!.vim/autoload/pathogen.vim
!.vim/bundle
!.vim/bundle/VimClojure
!.vim/bundle/command-t
!.vim/bundle/textobj-rubyblock
!.vim/bundle/textobj-user
!.vim/bundle/vim-javascript
!.vim/bundle/vim-markdown
!.vim/bundle/vim-markdown/syntax
!.vim/colors
!.vim/colors/mocha.vim
!.vim/indent
!.vim/indent/tex.vim
!.vim/spell
!.vim/spell/pl.utf-8.spl
!.vimrc
